.chat-messages-box > .container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
.chat-messages-box > .container {
  background-color: #444654;
}

.chat-messages-box > .container.assistant {
  background-color: #363841;
}

.time-right {
  display: flex;
  justify-content: flex-end;
  color: #aaa;
}

.time-left {
  display: flex;
  justify-content: flex-start;
  color: #999;
}
